@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-mono: "Space Mono", ui-monospace, SFMono-Regular, Menlo, monospace;
}

body{
    font-family: var(--font-mono);
}
